* {
	  box-sizing: border-box;
}

body {
  margin: 0px;
  margin-bottom: 50px;
  padding:5px;
  padding-left: 40px;
  padding-right: 40px;
  font-family:  roboto,  Arial, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#656565;
  font-weight:300;
  padding-top: 80px;
  background-color: #2F3F43;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 0 0px;
}

h1 {
  font-size:2em;
}

h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  width: 100%;
  margin-top:5px;
}

h2.smallerText {
  font-size: 1em;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
  cursor: pointer;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.6em;
  display:block;
}

div.clear {
  clear:both;
}

div.menu {
  background-color: #f9f9f9;
  border: 1px solid #b0b2b2
}

ul.nav {
  display: table;
  list-style: none;
  margin: 0px;
}


ul.nav li {

  float: left;
  position: relative;
  display: block;
}

ul.nav li a {
  position: relative;
  display: block;
  padding: 10px 15px;
  color: #777;
}

ul.nav li.active {
  background-color: #e7e7e7;
}

div.container {
  max-width: 1140px; 
}

div.fullWidth {
  max-width: 1100px;
  width:100%;
  float: left;
}

div.half {
  width: 550px;
  float: left;
}

div.quarter {
  width: 275px;
  float: left;
}

div.large {
  width: 825px;
  float: left;
}

div.h199 {
  height: 199px;
}

div.h403 {
  height: 403px;
}

div.min300 {
  min-height: 311px;
}

#mapid {
  height: 180px; 
  width: 180px;
  float: left;
}

div.blob {
  border-radius: 4px;
  margin: 5px 5px 5px 5px;
  text-align: center;
  padding: 10px;}

div.banner {

}

div.banner, h1 {
  margin: 0px !important;
  padding: 0px !important;
}

div.region {
  margin-top: 5px;
}

div.region span {
  padding-right: 10px;
}

div.banner > table {
  width: 100%;
  margin: 0px;
}
.bannerLogo {
  width: 250px;
  margin: 0px !important;
  padding: 0px !important;
  text-align: right;
}

span.address {
  font-style: italic;
}

div.dashboard {
  height: 400px;
  max-height: 400px;
  border: 1px solid #b0b2b2;
  margin-bottom: 20px;
  padding:0px;
}

.noBottom {
  margin-bottom: 0px !important;
}

div.header {
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #ddd;
  font-weight: bold;
  font-size:0.8em;
}

.largeText {
  font-size: 1.8em;
  white-space: nowrap;
}

div.avatar {
    border-radius: 4px;
    overflow:hidden;
    float: left;
}

.bgAvatar {
  background-image: url("/images/bgAvatar.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;


}

span.header {
  display:inline-block;
}

span.generated {
  font-weight: normal;
  float:right;
}

.footer {
 color: white;
}

.labelled-chart-container {
/*  padding-right: 150px;
  min-height: 180px;*/
  position: relative;
  /*height: 374px;*/
}

.canvas-holder {
/*  padding: 4px 0;
  margin: 20px 0;*/
  padding: 5px;
  position: relative;
  float:left;
  width: 480px;
  min-height: 380px;
}
div.captions {
  padding: 5px;
}

div.captions span {
  display: inline-block;
  width: 155px;
  text-align: center;
  font-size: 10pt;
}

.doughnut-legend {
/*  min-height: 190px;*/
  list-style: none;
  position: relative;
  padding:0px;
}

.doughnut-legend li {
  display: block;
  padding-left: 0px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 25px;
  text-align: left;
/*  font-size: 14px;*/
  cursor: default;
}

.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.horiz-legend {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;\

}

.horiz-legend li {
  display: inline;
  padding-left: 0px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 15px;
  margin-right: 10px;
  cursor: default;
  font-size: 9pt;
  
}

.horiz-legend li span {
  display: block;
  position: absolute;

  left: 0;
  top: 0;
  width: 8px;
  height: 16px;
  border-radius: 3px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0px !important;
}

.table-bottom-margin {
  margin-bottom: 0px !important;
}

table {
	display: table;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
}



.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border-bottom-width: 2px;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #b0b2b2
}
.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
  padding: 5px;
}
.table>thead>tr>th {
  vertical-align: bottom;
  border-bottom: 2px solid #b0b2b2;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 5px;
  line-height: 1.042857143;
  vertical-align: top;
  /*border-top: 1px solid #b0b2b2;*/
}
.table-hover>tbody>tr:hover{background-color:#f5f5f5}

.noTableLines, .noTableLines>tbody>tr, .noTableLines>tbody>tr>td, .noTableLines>thead>tr>th, .noTableLines>tbody>tr>th {
  border: 0px solid white !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheetth {
  font-weight: bold;
}
user agent stylesheettd, th {
  display: table-cell;
  vertical-align: inherit;
}
Inherited from 
table {
  border-spacing: 0;
  border-collapse: collapse;
}
user agent stylesheettable {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:after, :before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

th {
  text-align: left;
  font-weight: bold;
  color: #000;
  text-align: center;
}
td, th {
  padding: 5px;
  display: table-cell;
}

div.section {
  page-break-before: always;
}

div.employee {
  page-break-before: always;
}

td.employee {
  font-size: 0.8em;
  font-weight: bold;
  white-space: nowrap;
}

td.centered {
  text-align: center;
}

span.jobrole {
  font-weight: normal;
  padding-left: 10px;
  display: inline-block;
}

td.third {
  width: 31%
}

td.quart {
  width: 25%;
}

th.status {
  width: 80px;
}

.smallBottomMargin {
  margin-bottom: 5px;
}

td.noCourses {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

td.icon {
  width: 20px;
  height: 20px;
  padding: 0px !important;
  margin: 0px !important;
  text-align:center;
  vertical-align: middle;

}

td.icon > img {
  margin: 0px;
  height: 17px;
  vertical-align: center;
  padding: 0px !important;
}

td.count {
  width: 40px;
  text-align: right;
  white-space: nowrap;
}

td.narrow {
  width: 15%;
}

tr.footer {
  background-color: #f9f9f9;
}

td.footer {
  text-align: right;
  font-style: italic;
  font-size: 0.7em;
}

span.stats {
  font-weight: normal;
  display: inline-block;
  text-align: right;
  float:right;
}

div.tile {
  border-radius: 4px;
  min-width: 100px;
  max-width: 170px;
  height: 50px;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: auto;
} 

.hidden {
  display: none;
}

.centerMe {
  text-align: center;
}

div.centerMe {
  margin: auto;
}

.cream {
  background-color: #FAFAFA;
  border: 1px solid black;
}

.green {
  background-color: #90EE90;
  color: black;
}

.red {
  background-color: #CD3333;
  color: white;
}

.orange, .amber {
  background-color: #FFC125;
  color: black;
}

.yellow {
  background-color: yellow;
  color: black;
}

div.percent {
  padding-top: 5px;
  font-size: 1.3em;

  text-align: right;
  margin: auto;
  font-style: italic;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

.progress-striped .progress-bar-success {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
}

.progress-bar-striped, .progress-striped .progress-bar {
  background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: -o-linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  -webkit-background-size: 40px 40px;
  background-size: 40px 40px;
}


.progress-bar-success {
  background-color: #5cb85c;
}
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #337ab7;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition: width .6s ease;
  -o-transition: width .6s ease;
  transition: width .6s ease;
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

table.header {
  width: 100% !important;
  max-width: 100%;
  text-align: center;
/*  border: 1px solid black;*/
  margin-bottom: 0px;
  font-size: 1em;
}

a:hover {
  text-decoration: underline;
}

.numberCircle {
    text-align: center;
    font-size: 1.4em;
}

.strong {
  font-weight: bold;
}

div.hidden {
  display: none;
}



div.above, div.below {
  width: 100%;
  height: 30px;
  padding-left: 10px;
/*  border: green 1px solid;*/
}


span.percent {
  padding-left: 5px;
  padding-right: 5px;
}

div.percentFill {
  height: 150px;
  font-size: 65px;
  font-weight: bold;
  padding-top: 10px;
}

div.above span.upArrow {
  
}

div.name {
  line-height: 2.5;
}

div.grade {
/*  height: 100%;*/
}

div.above span.pos {
  display: none;
}

div.above span.name {
  
}

div.below {
  padding-top: 20px;
}

/*div.below span {
  height: 30px;
}*/

div.below span.downArrow {

}

div.below span.pos {
  display: none;
}

div.below span.name {
  text-align: right
}


/* button
------------------------- */

.button {
  display: inline-block;
  padding: 5px 15px;
  margin-bottom: 10px;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-weight: 500;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked,
.button.is-selected {
  background-color: #28F;
}

.button.is-checked,
.button.is-selected {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* hide radio inputs */
.button input[type="radio"] { display: none; }

/* ---- button-group ---- */

.button-group {
  margin: auto;
    margin-left: 5px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
/*  float: left;*/
  border-radius: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }


.floatLeft {
  float:left;
}

.alignRight {
  text-align: right;
}

.vis-item-overflow, .vis-range {
  min-width: 30px;
}
.vis-item-content {
  border-radius: 5px;
  min-width: 30px;
} 

td.abType {
  width: 18px;
}
span.abType {
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.Sickness {
  background-color: #CD3333;
}
.Authorised {
  background-color: #FFC125;
}
.Business {
  background-color: #90EE90;
}
.Holiday {
  background-color: #6495ED;
}

.travelStats {
  margin-left: 230px;
  text-align: left;
  list-style: none;
}

.travelStat > div.statName {
  color: #2F3F43;
  font-size: 11px;
  float: left;
  min-width: 90px;
  text-align: right;
  padding-right: 10px;
}

.travelStat > .postcode {
  font-size: 1.2em;
}

.travelStat > .value {
  font-size: 1.2em;
}

.travelStat > .unit {
  color: #999;
}

.weekend {
  background-color: #e0e0eb;
  width: 1px;
}

.activeDay {
  background-color: pink;
}

@media print {
  .noprint {
    display: none;
  }
  a {
    color: #656565;
  }
}

.white {
  background-color: white;
}

.whiteText { color: white; }

.cornered {
  border-radius: 5px;
}

@media screen {
  table.header {
    display:none;
  }
  .noScreen {
    display: none
  }
}