

#bounds {
  height: 400px !important;
  width: 400px !important;
  border: solid blue 1px;
}

#mapid { 
  height: 300px !important; 
  width: 300px !important;
  max-width:300px !important;
  border: solid green 1px;
}